@model PetGrooming.Models.Pet
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<form method="POST" action="/Pet/Update/@Model.PetID">
   petname : <input id="PetName" name="PetName" value="@Model.PetName" /><br />
   petcolor: <input id="PetColor" name="PetColor" value="@Model.Color" /><br />
   Weight : <input id="PetWeight" name="PetWeight" value="@Model.Weight" /><br />
   <div>notes :<textarea id="PetNotes" name="PetNotes" value="@Model.Notes"></textarea></div>
   <input type="submit" id="submit" value="update pet" />
</form>
