@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<a href="/Species/List">Back to list</a>
<form method="POST" action="/Species/Update/@Model.SpeciesID">
    speciesname : <input id="SpeciesName" name="SpeciesName" value="@Model.Name" /><br />
    <input type="submit" id="submit" value="update species" />
</form>